	@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
	@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
	@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

	:root {
		/* some basic colors */
		--white: #e6e8e6;
		--black: #03191E;
		--purple: #026C7C; 
		--yellow: #BFAB25; 
		--abg: #055864;
		--jacky: #75b9be;
		--lf:'Cinzel Decorative', cursive;
	}

	html {
		box-sizing: border-box;

		user-select: none;
		-webkit-tap-highlight-color: transparent;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	html, body {
		height: 85%;
		width: 960px;
		margin: auto;


	}

	body {
		font: normal 20px/1.4 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
		color: var(--white);
		background: var(--purple);
		
	}

	h2 {
		font-size:3vh;
		margin:0;
	}

	main {
		margin: auto;
		font-size: 4vh;
		line-height: 8vh;
		padding:25px;
		display:grid;
		grid-gap: 10px;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: auto auto 1fr;
	}
	.locbloc1{
		grid-column: span 4;
		display: grid;
		justify-items: left;
		align-items: left;
		background:var(--abg);
		padding:50px 50px;
		line-height: normal;
		
	}
	.locbloc1 > a {display:block; font-family: var(--lf);}
	.locbloc1 > p {display:block;		font: normal 14px/1.4 'Montserrat Alternates', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
		text-transform: capitalize;
		}
	.locbloc-menu{
		grid-column: span 4;
		display: block;
		justify-items: right;
		align-items: right;
		
	}
	.locbloc-menu > ul > li{
		font-size: 18px;
		line-height: normal;
		padding:0px 0px;
		margin:0;
		display: inline;
	}
	.locbloc-menu > ul > li > a:link{padding:45px 20px;}
	.locbloc-menu > ul > li > a:hover{
		color:var(--jacky);
		background:none;

	}
	.locbloc-menu > ul{
		display:block;
		list-style: none;
		padding:0;
		margin: 50px 0;

	}
	.locbloc2{
		font: normal 20px/1.4 'Montserrat Alternates', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
		grid-column: span 6;
		display: grid;
		text-transform: capitalize;
		justify-items: left;
		
	}
	.locbloc3{
		justify-items: center;
		align-items: center;
		
	}


	a {
		color: inherit;
		text-decoration: none;

	}

	a:hover,
	a:focus {
		outline: none;
		background: var(--white);
		color: var(--black);
	}
    .emoji {
        font-weight: 400;
        font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
	}
	.highlightmenu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
    .highlight {
		display:inline;
		color: inherit;
		text-decoration: none;
		background: var(--black);
		color: var(--white);
		padding: 10px;
		font-size: 14px;
		line-height: 10px;
    }
    .highlight:hover {
        outline: none;
		background: var(--white);
		color: var(--black);
	}
	
	.tabbytab {
		list-style-type: none;
		margin:0;
		padding:0;
		overflow: hidden;
	}
	.tabbytabs {
		display:inline;
		color: inherit;
		text-decoration: none;
		background: var(--black);
		color: var(--white);
		padding: 10px;
		font-size: 14px;
		line-height: 10px;
	}
	.tabbycontent {
		padding:0 20px 0 20px;
		line-height: 25px;
		display:none;
	}
	.activated {
		display:block;
	}
	@media screen and (prefers-color-scheme: dark) {


		a {
			
		}
	}
	footer{grid-column: span 8;background:var(--abg);padding:10px 50px;font-size:26px; }
	footer > div {display:grid; grid-template-columns: repeat(3, 1fr);}
	footer > div > a {font-family: var(--lf);grid-column:span 1; padding:0 15px 0 0;}
	footer > div > span {grid-column:span 2;justify-self:right;}
	/* Main Boxes area */
	.fullgrid{grid-column: span 8;border-bottom:1px dashed var(--abg);}
	
	.fullgrid > div.content > div {padding:5% 0;display:grid;grid-gap: 40px 15px;grid-template-columns: repeat(3, 1fr);}
	blockquote p {display: flex;align-items: center;padding: 15px;color: var(--Musta);font-size: 24px;font-weight: bold;}

	blockquote p:before {content: 'â€';font-family: var(--lf);padding: 0 15px;margin: 0px;font-size: 120px;color: var(--jacky);}
	blockquote header {display: flex;justify-content: center;align-items: center;height: 1.9rem;margin: 1rem;font-size: 16px;text-transform: uppercase;letter-spacing: 2px;}

	#instagram-feed-demo {margin:auto;padding:20px;}
	#instagram-feed-demo > div.instagram_gallery {padding:5% 0;display:grid;grid-gap: 40px 15px;grid-template-columns: repeat(3, 1fr);}
	#instagram-feed-demo > div > a {padding:15px;}
	#instagram-feed-demo > div > a > img{background:var(--jacky);display:block;width:250px;height:200px;align-self:center;justify-self:center;}

	.fullgrid > div.content > div > div {padding:0;grid-column:span 1;}
	.fullgrid > div.content > div > div > div{display:grid;grid-gap: 25px;grid-template-columns:1fr; grid-template-rows: 200px 25px;}
	
	.fullgrid > div.content > div > div > div > img {background:var(--jacky);display:block;width:250px;height:200px;align-self:center;justify-self:center;}
	.fullgrid > div.content > div > div > div > span {font-size: 12px;letter-spacing: 2px;text-transform: uppercase;display:block;line-height: 0px;justify-self:center;align-self:center;padding:0 0 25px;}